<%= form_with(model: distrito) do |form| %>
  <% if distrito.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(distrito.errors.count, "error") %> prohibited this distrito from being saved:</h2>

      <ul>
        <% distrito.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
