
<div class="estudobiblico form">
  <%= form_with(model: estudobiblico, local: true) do |form| %>
    <% if estudobiblico.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(estudobiblico.errors.count, "erro") %> ao salvar:</h4>
        <ul>
          <% estudobiblico.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-8 form-group">   
          <%= form.label :nome, :class => 'control-label required' %>
          <%= form.text_field :nome,  :class => 'form-control' %>
      </div>
      <div class="col-lg-12 form-group">   
           <%= form.label :descricao, :class => 'control-label ' %>
           <%= form.text_field :descricao,  :class => 'form-control' %>
       </div>
    </div>


    <div class="row">
      <div class="col-lg-2 form-group">
        <%= form.submit "Salvar", class: "btn btn-info colorprimarybtn" %>
      </div>
      <div class="col-lg-2 form-group">
        <%= link_to "Voltar", estudobiblicos_path, class: "btn btn-info colorprimarybtn" %>
      </div>
    </div>
  <% end %>
</div>

