<div id="<%= dom_id visitum %>">
  <p>
    <strong>Nome:</strong>
    <%= visitum.nome %>
  </p>

  <p>
    <strong>Apelido:</strong>
    <%= visitum.apelido %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= visitum.telefone %>
  </p>

  <p>
    <strong>Whatsapp telefone:</strong>
    <%= visitum.whatsapp_telefone %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= visitum.cep %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= visitum.logradouro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= visitum.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= visitum.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= visitum.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= visitum.estado %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= visitum.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= visitum.longitude %>
  </p>

  <p>
    <strong>Igreja:</strong>
    <%= visitum.igreja_id %>
  </p>

</div>
