<p style="color: green"><%= notice %></p>

<%= render @visitum %>

<div>
  <%= link_to "Edit this visitum", edit_visitum_path(@visitum) %> |
  <%= link_to "Back to visita", visita_path %>

  <%= button_to "Destroy this visitum", @visitum, method: :delete %>
</div>
