<div id="<%= dom_id visitouigreja %>">
  <p>
    <strong>Igreja:</strong>
    <%= visitouigreja.igreja_id %>
  </p>

  <p>
    <strong>Visitaigreja:</strong>
    <%= visitouigreja.visitaigreja_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= visitouigreja.data %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= visitouigreja.descricao %>
  </p>

</div>
