<p style="color: green"><%= notice %></p>

<%= render @visitouigreja %>

<div>
  <%= link_to "Edit this visitouigreja", edit_visitouigreja_path(@visitouigreja) %> |
  <%= link_to "Back to visitouigrejas", visitouigrejas_path %>

  <%= button_to "Destroy this visitouigreja", @visitouigreja, method: :delete %>
</div>
