


<div class="visitaigreja form">
  <%= form_with(model: visitaigreja, local: true) do |form| %>
    <% if visitaigreja.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(visitaigreja.errors.count, "erro") %> ao salvar:</h4>
        <ul>
          <% visitaigreja.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-6 form-group">
        <%= form.label :nome, class: "control-label required" %>
        <%= form.text_field :nome, class: "form-control", required: true %>
      </div>
      <div class="col-lg-3 form-group">
        <%= form.label :telefone, class: "control-label required" %>
        <%= form.text_field :telefone, class: "form-control", required: true, :onkeypress=>"mask(this, mphone);", :onblur=>"mask(this, mphone);" %>
      </div>
       <div class="col-lg-2 form-group">
        <%= form.label :whatsapp_telefone, class: "control-label required" %>
        <%= form.select :whatsapp_telefone, list_opcoes, { include_blank: "Selecionar" }, { class: "form-control", required: true } %>
      </div>
       <div class="col-lg-2 form-group">
        <%= form.label :cep, class: "control-label" %>
        <%= form.text_field :cep, class: "form-control", :onkeypress=>"mask_cep(this, mcep);", :onblur=>"mask_cep(this, mcep);" %>
      </div>
      <div class="col-lg-5 form-group">
        <%= form.label :logradouro,  class: "control-label" %>
        <%= form.text_field :logradouro, class: "form-control" %>
      </div>
      <div class="col-lg-2 form-group">
        <%= form.label :numero,  class: "control-label" %>
        <%= form.text_field :numero, class: "form-control" %>
      </div>
      <div class="col-lg-4 form-group">
        <%= form.label :bairro, class: "control-label" %>
        <%= form.text_field :bairro, class: "form-control" %>
      </div>
     
      <div class="col-lg-5 form-group">
        <%= form.label :cidade, class: "control-label required" %>
        <%= form.text_field :cidade, class: "form-control" %>
      </div>
      <div class="col-lg-2 form-group">
        <%= form.label :estado, class: "control-label required" %>
        <%= form.select :estado, list_estados, { include_blank: "Selecionar" }, { class: "form-control" } %>
      </div>
      <div class="col-lg-3 form-group">
        <%= form.label :data_nasc, class: "control-label required" %>
        <%= form.date_field :data_nasc, class: "form-control" %>
      </div>
      <div class="col-lg-5 form-group">
        <%= form.label :igreja_id, class: "control-label required" %>
        <%= form.collection_select :igreja_id, listIgrejasAll.all, :id, :nome, { prompt: "Selecionar" }, { class: "form-control", required: true } %>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-2 form-group">
        <%= form.submit "Salvar", class: "btn btn-info colorprimarybtn" %>
      </div>
      <div class="col-lg-2 form-group">
        <%= link_to "Voltar", visitaigrejas_path, class: "btn btn-info colorprimarybtn" %>
      </div>
    </div>
  <% end %>
</div>
