<div id="<%= dom_id visitaigreja %>">
  <p>
    <strong>Nome:</strong>
    <%= visitaigreja.nome %>
  </p>

  <p>
    <strong>Apelido:</strong>
    <%= visitaigreja.apelido %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= visitaigreja.telefone %>
  </p>

  <p>
    <strong>Whatsapp telefone:</strong>
    <%= visitaigreja.whatsapp_telefone %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= visitaigreja.cep %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= visitaigreja.logradouro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= visitaigreja.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= visitaigreja.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= visitaigreja.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= visitaigreja.estado %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= visitaigreja.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= visitaigreja.longitude %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= visitaigreja.observacao %>
  </p>

  <p>
    <strong>Igreja:</strong>
    <%= visitaigreja.igreja_id %>
  </p>

</div>
