<div id="<%= dom_id visitabiblico %>">
  <p>
    <strong>Visitaigreja:</strong>
    <%= visitabiblico.visitaigreja_id %>
  </p>

  <p>
    <strong>Estudobiblico:</strong>
    <%= visitabiblico.estudobiblico_id %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= visitabiblico.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= visitabiblico.data_fim %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= visitabiblico.descricao %>
  </p>

</div>
