

<div class="ministroubiblico form">
  <%= form_with(model: ministroubiblico, local: true) do |form| %>
    <% if ministroubiblico.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(ministroubiblico.errors.count, "erro") %> ao salvar:</h4>
        <ul>
          <% ministroubiblico.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
       <div class="col-lg-5 form-group">
        <%= form.label :igreja_id, class: "control-label required" %>
        <%= form.collection_select :igreja_id, listIgrejasAll.all, :id, :nome, { prompt: "Selecionar" }, { class: "form-control", required: true } %>
      </div>
      <div class="col-lg-3 form-group">
        <%= form.label :data, class: "control-label required" %>
        <%= form.date_field :data, class: "form-control", required: true %>
      </div>
       <div class="col-lg-7 form-group">
        <%= form.label :estudobiblico_id, class: "control-label required" %>
        <%= form.collection_select :estudobiblico_id, listEstudobiblicosAll, :id, :nome, { prompt: "Selecionar" }, { class: "form-control", required: true } %>
      </div>
      <div class="col-lg-7 form-group">
        <%= form.label :itemestudobiblico_id, class: "control-label" %>
        <%= form.collection_select :itemestudobiblico_id, listEstudobiblicosAll, :id, :nome, 
          { prompt: "Selecionar" },
          { class: "form-control", id: "itemestudobiblico_select"} %>

      </div>

    </div>

    <div class="row">
        <div class="col-lg-10">
            <h4 class="page-header">
                Instrutores
            </h4>
             <hr/>
        </div>
    </div>
    
   
    <div id="ministroubiblicousers">
        <%= form.fields_for :ministroubiblicousers do |ministroubiblicouser| %>
        <%= render 'ministroubiblicouser_fields', f: ministroubiblicouser %>
          <%end%>
      <div>
        <%= link_to_add_association 'Adicionar Instrutor', form, :ministroubiblicousers, class: "btn btn-info colorprimarybtn2"  %>
      </div>
    </div>
     <br>

<div class="row">
  <div class="col-lg-10">
    <h4 class="page-header">Selecionar Estudantes da Bíblia</h4>
    <hr/>
  </div>
</div>

<div id="estudoministrados">
  <% listVisitaigrejasAll.each do |visitaigreja| %>
    <% estudoministrado = @ministroubiblico.estudoministrados.find { |e| e.visitaigreja_id == visitaigreja.id } || @ministroubiblico.estudoministrados.build(visitaigreja_id: visitaigreja.id) %>
    
    <div class="row">
      <div class="col-lg-12 form-group">
        <%= form.fields_for :estudoministrados, estudoministrado do |estudoministrado_form| %>
          <%= estudoministrado_form.hidden_field :visitaigreja_id %>
          <%= estudoministrado_form.check_box :_sava_visita, { class: "", checked: estudoministrado.persisted? } %>
          <%= estudoministrado_form.label :_destroy, visitaigreja.nome, class: "control-label" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>





    <div class="row">
      <div class="col-lg-2 form-group">
        <%= form.submit "Salvar", class: "btn btn-info colorprimarybtn" %>
      </div>
      <div class="col-lg-2 form-group">
        <%= link_to "Voltar", ministroubiblicos_path, class: "btn btn-info colorprimarybtn" %>
      </div>
    </div>
  <% end %>
</div>

