<div id="<%= dom_id ministroubiblico %>">
  <p>
    <strong>Conteudo:</strong>
    <%= ministroubiblico.conteudo %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= ministroubiblico.data %>
  </p>

  <p>
    <strong>Visitaigreja:</strong>
    <%= ministroubiblico.visitaigreja_id %>
  </p>

  <p>
    <strong>Visitabiblico:</strong>
    <%= ministroubiblico.visitabiblico_id %>
  </p>

  <p>
    <strong>Estudobiblico:</strong>
    <%= ministroubiblico.estudobiblico_id %>
  </p>

  <p>
    <strong>Itemestudobiblico:</strong>
    <%= ministroubiblico.itemestudobiblico_id %>
  </p>

</div>
